*{
	font-family: "Stack Sans Text", sans-serif;
}

html{
	background-color: #ffde85;
}

body{
	margin: 0;
}

/*
h1{
	color: orange;
	background-color: yellow;
	text-align: center;
	margin: 0;
	padding: 10px;
}
*/

.homebtn{
	position: fixed;
	top: 10px;
	right: 10px;
	width: 35px;
	height: 35px;
	border: 5px solid grey;
	border-radius: 8px;
	background-color: orange;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
}

.homebtn a{
	color: brown;
	text-decoration: none;
}

table{
	width: 100%;
	border-collapse: collapse;
}


td{
}


