*{
	font-family: "Stack Sans Text", sans-serif;
}

html{
	background-color: #ffde85;
}

body{
	margin: 0;
}

.homebtn{
	position: fixed;
	top: 10px;
	right: 10px;
	width: 35px;
	height: 35px;
	border: 5px solid grey;
	border-radius: 8px;
	background-color: orange;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
}

.homebtn a{
	color: brown;
	text-decoration: none;
}

h1{
	color: orange;
	background-color: yellow;
	text-align: center;
	margin: 0;
	padding: 10px;
	width: 100%;
}

#timetable{
	width: 100%;
}

table{
	border-collapse: collapse;
}


td, th{
	border: 4px solid #ddd;
	text-align: center;
}

th{
	padding: 10px;
	background-color: #EEEDB3;
}

td{
	padding: 20px;
	font-style: italic;
	background-color: #FFFEC4;
}

.split{
	background-color: #FFE682;
	font-weight: bold;
}

.tablefor{
	background-color: #EED571;
}

.timeperiod{
	background-color: #F9EF9B;
}
