*{
	font-family: "Stack Sans Text";
}

html{
	background-color: #ffde85;
}

h1{
	color: orange;
	background-color: yellow;
	border: 7px solid grey;
	border-radius: 8px;
	text-align: center;
	padding: 10px;
}
